.*.swp
.*.swo
*.log
*.lof
*.lot
*.toc
docs/*.pdf
*.aux
*.out
_build/
tags
*.aux
*.out
*.native
*.byte
*.cmi
*.cmx
*.o
*.cmo
.session
.subdirtouch
*.docdir
*.db
*.tgz
TPTP-*
Axioms
Problems
*.svg
*.dot
learning/
kb*.lock
kb*
TODO*
TAGS
src/man/
src/prover/const.ml
setup.*
examples
benchs
*.exe
*.install
.merlin
zipperposition.exe
diffs
out
tests/testCombinators.ml
no.f
target/.history
target/scala-2.12/resolution-cache/default/zipperposition_2.12/0.1.0-SNAPSHOT/resolved.xml.properties
target/scala-2.12/resolution-cache/default/zipperposition_2.12/0.1.0-SNAPSHOT/resolved.xml.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-plugin.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-pom.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/default-zipperposition_2.12-test.xml
target/scala-2.12/resolution-cache/reports/ivy-report.css
target/scala-2.12/resolution-cache/reports/ivy-report.xsl
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
target/streams/$global/update/$global/streams/update_cache_2.12/inputs
target/streams/$global/update/$global/streams/update_cache_2.12/output
target/streams/compile/dependencyClasspath/$global/streams/export
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/compile/internalDependencyClasspath/$global/streams/export
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/unmanagedJars/$global/streams/export
