E/
lettre_*
dossier_bourse/
.*.swp
.*.swo
*.log
*.lof
*.lot
*.toc
docs/*.pdf
*.aux
*.out
_build
tags
*.native
*.byte
.session
.subdirtouch
src/main.docdir
provers_output.db
*.tgz
TPTP-*
Axioms
*.svg
*.dot
