E/
lettre_*
dossier_bourse/
.*.swp
.*.swo
*.log
*.lof
*.lot
*.toc
*.nav
*.snm
*.
docs/*.pdf
*.aux
*.out
_build
tags
*.native
.session
.subdirtouch
*.bbl
*.blg
*.dvi
*.vrb
kb
kb.lock
talks/**/*.pdf
docs/**/*.pdf
cuts.tex
ground_joinable.bbl
ground_joinable.blg
ground_joinable.dvi
pipeline.png
theory_detection.bbl
theory_detection.blg
theory_detection.dvi
truc.svg
../talks/learning/kb
./talks/learning/kb.lock
k../talks/learning/proof.svg
../talks/learning/slides.pdf
../talks/learning/slides.vrb
../talks/learning/truc.dot
../talks/learning/truc.png
../talks/learning/truc.svg
*.db
*.pdf
